body {
    background-color: lightblue;
}

h2 {
    color: rgba(8, 8, 8, 0.993);
    font-family: Helvetica;
}

p {
    color: rgb(5, 5, 5);
    font-family: 'Courier New', Courier, monospace;
}

#second {
    color: darkblue;
}

.all {
    color: rgb(4, 133, 245);
    border: 2px solid black;
    font-family: serif;
}